/*
/.**

!/Analysis.fs
!/AbstractValues.fs
!/Cfg.fs
!/CilTypes.fs
!/Expressions.fs
!/GuardNormalization.fs
!/Koat.fs
!/MethodSelection.fs
!/Program.fs
!/StackSim.fs
!/TransitionIr.fs
!/TransitionSyntax.fs
!/TransitionValidation.fs
!/CilFrontend.fsproj