
/*
/.**

!/Cfg.fs
!/StackSim.fs
!/Analysis.fs
!/TransitionIr.fs
!/Koat.fs
!/Program.fs
!/Sample.cs
!/CilFrontend.fsproj
!/tests/
!/tests/CilFrontend.Tests.fsproj
!/tests/Program.fs
!/tests/golden/
!/tests/golden/*.koat
!.gitignore
